<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html lang="en">

  <head>
    <style type="text/css">
      .color-primary { color: #fc4102 !important; }
    </style>
  </head>

  <body
    style="
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      background-color: rgb(255, 255, 255);
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    "
  >
    <table
      align="center"
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      width="100%"
      style="
        max-width: 37.5em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 465px;
        border-radius: 0.25rem;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(234, 234, 234);
        padding: 20px;
      "
    >
      <tr style="width: 100%">
        <td>
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
            width="100%"
            style="margin-top: 30px; margin-bottom: 30px"
          >
            <tbody>
              <tr>
                <td>
                  <img
                    alt="InRadius"
                    src="https://res.cloudinary.com/choose-pos/image/upload/v1720275633/logoDark_cx1hkw.png"
                    width="120"
                    style="
                      display: block;
                      outline: none;
                      border: none;
                      text-decoration: none;
                      margin-left: auto;
                      margin-right: auto;
                      margin-top: 0px;
                      margin-bottom: 0px;
                    "
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <p
            style="
              font-size: 14px;
              line-height: 24px;
              margin: 16px 0;
              color: rgb(0, 0, 0);
            "
          >
            Hello,
          </p>
          <div
            style="
              font-size: 14px;
              line-height: 24px;
              margin: 16px 0;
              color: rgb(0, 0, 0);
            "
          >
            <p>
              Verify your email address by entering this code:
              {{otp}}
              on the verification page. Please note the code will be valid for 5
              mins only. If you did not request this verification, please
              disregard this message.
            </p>
          </div>

          <p style="font-size: 14px; line-height: 24px; color: rgb(0, 0, 0)">
            Regards,<br />
            Choose POS Team
          </p>

          <hr
            style="
              width: 100%;
              border: none;
              border-top: 1px solid #eaeaea;
              margin-left: 0px;
              margin-right: 0px;
              margin-top: 26px;
              margin-bottom: 26px;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(234, 234, 234);
            "
          />
          <p
            style="
              font-size: 12px;
              line-height: 24px;
              margin: 16px 0;
              color: rgb(102, 102, 102);
            "
          >
            If you have any query or would like to connect with us, you can send
            us an email at
            <a
              target="_blank"
              style="
                color: rgb(37, 99, 235);
                text-decoration: none;
                text-decoration-line: none;
              "
              href="mailto:communications@choosepos.com"
            >communications@choosepos.com</a>.
          </p>
        </td>
      </tr>
    </table>
  </body>

</html>