<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html lang="en">

  <head>
    <style type="text/css">
      .color-primary { color: #fc4102 !important; }
    </style>
  </head>

  <body
    style="
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      background-color: rgb(255, 255, 255);
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    "
  >
    <table
      align="center"
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      width="100%"
      style="
        max-width: 37.5em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 465px;
        border-radius: 0.25rem;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(234, 234, 234);
        padding: 20px;
      "
    >
      <tr style="width: 100%">
        <td>
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
            width="100%"
            style="margin-top: 30px; margin-bottom: 30px"
          >
            <tbody>
              <tr>
                <td>
                  <img
                    alt="InRadius"
                    src="https://res.cloudinary.com/inradiuscloud/image/upload/v1680608240/Static/InRadius_Mail_Logo_xwpiau.png"
                    width="120"
                    style="
                      display: block;
                      outline: none;
                      border: none;
                      text-decoration: none;
                      margin-left: auto;
                      margin-right: auto;
                      margin-top: 0px;
                      margin-bottom: 0px;
                    "
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <p
            style="
              font-size: 14px;
              line-height: 24px;
              margin: 16px 0;
              color: rgb(0, 0, 0);
            "
          >
            Hello
            {{name}},
          </p>
          <div
            style="
              font-size: 14px;
              line-height: 24px;
              margin: 16px 0;
              color: rgb(0, 0, 0);
            "
          >
            <p>
              Thank you for choosing InRadius. InRadius is India's first radius
              based job and talent search platform.
            </p>
            <p>
              At InRadius, our core purpose is to help people reduce their daily
              commute time to work by finding a job closer to home and finally
              achieve a better work-life balance.
            </p>
            <p>A <b>HAPPIER world</b> starts with a <b>HAPPIER YOU!</b></p>
            <p>
              To check our Industry first features and USPs, click
              <a class="color-primary" href="{{aboutLink}}">here</a>
            </p>
          </div>

          <!-- LOGIN BUTTON -->
          <div
            style="
              font-size: 14px;
              line-height: 24px;
              margin-block: 24px;
            "
          >
            <div style="margin-top: 15px">
              <a
                href="https://www.inradius.in/jobseeker/login/?utm_source=server-emailers&utm_medium=email&utm_campaign=Emailers+JobSeeker+Login&utm_id=emailers-jobseeker-login"
                rel="noopener noreferrer"
                target="_blank"
                style="
                  width: 100%;
                  padding-top:13px !important;
                  padding-bottom:13px !important;
                  display: inline-block;
                  line-height: 100%;
                  text-decoration: none;
                  max-width: 100%;
                  border-radius: 10px;
                  background-color: #fc4102;
                  text-align: center;
                  font-size: 0.8rem;
                  font-weight: 600;
                  color: white;
                  text-decoration-line: none;
                  text-transform: uppercase;
                  font-weight: bold;
                  transition: all 0.8s;
                "
              ><span>Login Now</span></a>
            </div>
          </div>
          <p
            style="
              font-size: 14px;
              line-height: 24px;
              margin: 26px 0 16px 0;
              color: rgb(0, 0, 0);
            "
          >
            Regards,<br />
            InRadius Team
          </p>

          <hr
            style="
              width: 100%;
              border: none;
              border-top: 1px solid #eaeaea;
              margin-left: 0px;
              margin-right: 0px;
              margin-top: 26px;
              margin-bottom: 26px;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(234, 234, 234);
            "
          />
          <p
            style="
              font-size: 12px;
              line-height: 24px;
              margin: 16px 0;
              color: rgb(102, 102, 102);
            "
          >
            If you have any query or would like to connect with us, you can send
            us an email at
            <a
              target="_blank"
              style="
                color: rgb(37, 99, 235);
                text-decoration: none;
                text-decoration-line: none;
              "
              href="mailto:communications@inradius.in"
            >communications@inradius.in</a>.
          </p>
        </td>
      </tr>
    </table>
  </body>

</html>